name: tests

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]  # slow: macos-latest
        python-version: [3.6, 3.7, 3.8, 3.9]
        exclude:
           - os: windows-latest
             python-version: 3.9
           - os: windows-latest
             python-version: 3.6 
           - os: windows-latest
             python-version: 3.7
           - os: macos-latest
             python-version: 3.9
           - os: macos-latest
             python-version: 3.6 
           - os: macos-latest
             python-version: 3.7 
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Test with pytest
      run: |
        pytest
    - name: "Convert coverage"
      run: "python -m coverage xml"
    - name: "Upload coverage to Codecov"
      uses: "codecov/codecov-action@v1"
      with:
        fail_ci_if_error: true
