name: tests
on:
  - push
  - pull_request
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
       include:
         - python-version: "3.10"
           os: ubuntu-latest
         - python-version: "3.10"
           os: windows-latest
         - python-version: "3.9"
           os: ubuntu-latest
         - python-version: "3.8"
           os: ubuntu-latest
         - python-version: "3.7"
           os: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pip install dependencies
        run: |
          echo "::group::Run python -m pip install --upgrade pip setuptools wheel"
          python -m pip install --upgrade pip setuptools wheel
          echo ::endgroup::
          echo "::group::Run pip install .[test]"
          pip install .[test]
          echo ::endgroup::
      - name: Run tests with pytest
        run: pytest
